/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Titillium Web', sans-serif;
}
body {

    margin: 2rem;
}

button {
    border-radius: 2rem;
    border: none;
    padding: 0.8rem;
    outline-style: none;
}

button:hover {
    background-color: rgba(104, 110, 128, 0.548);

}